client/dist/
client/node_modules/
/.idea
/.gradle
docker-compose.yml
DockerImageBuild.sh
README.md
/server/build
Dockerfile
.DS_Store
context.xml
**/webapp/
**/test/
.eslintrc.js
.browserslistrc
/documentation/
/screenshots/
