client/dist/
client/node_modules/
/.idea
/.gradle
docker-compose.yml
DockerImageBuild.sh
gradlew
gradlew.bat
README.md
/server/build
Dockerfile
.DS_Store
context.xml
**/webapp/
**/test/
/gradle/
.eslintrc.js
.browserslistrc
/documentation/
/screenshots/
